.s-footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 8rem;
  padding-bottom: 4.8rem;
  height: 46.5rem;
  background: url('../img/clouds-bottom.png') no-repeat top left;
  background-size: cover;

  .footer-text {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
    max-width: 16.6rem;
    margin: 0 auto;

    span {
      font-family: $font-body;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: $neutral-400;
    }
  }
}
